<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Game Store</title>
    <link rel="stylesheet" href="/styles.css">
</head>



<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Shop</li></a>
                <a href="/"><li>Cart</li></a>
                <a href="/admin"><li>Admin</li></a>
            </ul>
        </nav>
    </header>




    <div class="hero" style="height: 20vh;">
        <h1>Admin Panel</h1>
        <p>
            Remove, add, or modify existing games here. Be careful, there is no undo button.
        </p>

        <div>
            <button>Genres</button>
            <button>Price Range</button>
            <button>Sort by</button>
        </div>
    </div>




    <div class="game-grid">
        <%games.forEach((game) => { %>
            <div class="game-card">
                <img src="<%=game.img_url%>">
                <div class="game-title space-between">
                    <div class="flex gap-1">
                        <h3><%=game.displayPrice %></h3>
                        <h3><%=game.game%></h3>
                    </div>
                    <div class="flex gap-1 align-cen">
                        <button class="edit-button on-hover" data-id="<%= game.id%>">EDIT</button>
                        <button class="remove-button on-hover" data-id="<%= game.id%>">REMOVE</button>
                    </div>
                </div>
                <h5 class="genres"><%=game.genres%></h5>
                <p class="game-desc"><%=game.description%></p>
            </div>
        <%})%>
    </div>


    <footer>
        <h2>Thanks for shopping at the stem game store!</h2>
    </footer>

    <script src="/adminPage.js"></script>
</body>
</html>