<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Game Store</title>
    <link rel="stylesheet" href="/styles.css">
</head>



<body>
    <header>
        <nav>
            <ul>
                <a href="/"><li>Shop</li></a>
                <a href="/"><li>Cart</li></a>
                <a href="/admin"><li>Admin</li></a>
            </ul>
        </nav>
    </header>




    <div class="hero" style="height: 20vh;">
        <h1>Welcome</h1>
        <p>Browsing for your next game, or just fancy looking at what's new? From community 
                favourites to brand new games, see some... of them here!
        </p>

        <div>
            <button>Genres</button>
            <button>Price Range</button>
            <button>Sort by</button>
        </div>
    </div>

<div class="game-grid">
    <div class="game-card" style="max-width: 920px;">
        <img src="<%= game.img_url %>" id="preview-img">
    </div>

    <div class="game-card">
        <div class="game-title">
            <input type="number" name="price_cents" value="<%= game.price_cents %>">

            <input type="text" name="game" value="<%= game.game %>">
        </div>

        <input type="text" name="genres" value="<%= game.genres %>">

        <textarea name="description"><%= game.description %></textarea>

        <input type="text" name="img_url" value="<%= game.img_url %>">

    <button type="submit">Save Changes</button>
  </div>
</div>

    <footer>
        <h2>Thanks for shopping at the stem game store!</h2>
    </footer>

</body>
</html>